h3 {
    height:60px;
}
hr{
    margin-top:50px;
    margin-bottom:50px;
    -webkit-box-shadow: 1px 1px 1px 1px #eee;
    -moz-box-shadow: 1px 1px 1px 1px #eee;
    box-shadow:  1px 1px 1px 1px #eee;
}
table .btn btn-info{
    margin-right:20px;
}
.navbar-inverse {
    background-color: #204d74;
    border-color: #080808;
}
.aboutHead{
	width:100%;
	background:#eee;
	padding:20px;
	font-size: 18px;
	
}
#styleBox{
	border-radius:10px;	
	padding-top:20px;
	padding-top:20px;
}
#mycol6 a {
    width:99%;
    margin:5px;
	font-size:16px;
}
#mycol6 h2 {
    background: #204d74;
    padding: 5px;
    width: 100%;
    color: white;
    height: 76px;
    text-align: center;
    padding-top: 20px;
}
#showHide{

}
#goRight{
    float:right;
}
#goRightToggle{
    float:right;
    margin-right:20px;
    font-size: 24px;
    display:none;

}
blockquote{
border:none;	
}
#goRightToggle2{

    float:right;
    margin-right:20px;
    font-size: 24px;
}
#searchOptions{
    margin-top:20px;
    color: white;
    background: #204d74;
    padding:10px;
    font-size:16px;
}
#orgDiv{
    width:30%;
    height:540px;
    text-align:center;
    border: 1px solid Darkgray;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    margin: 10px;
	margin-left:22px;


}
#orgDiv p:nth-child(2) {

}
#orgDiv p:nth-child(3) {

    height: 240px;
    font-size: 16px;
    float: left;
}

@media only screen and (min-width:768px ) and (max-width:1220px) {
    #orgDiv{
        width:90%;
        height:500px;
        text-align:center;
        border: 1px solid Darkgray;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		margin-bottom:30px;
     


    }
	#orgDiv p:nth-child(3) {

    height: 260px;
    font-size: 16px;
    float: left;
	}
	#orgDiv p:nth-child(3) {
		height: 270px;
		font-size: 16px;
		float: left;
	}
	#orgDiv {
		height:580px;	
	}
}


@media only screen and (min-width:480px) and (max-width:767px) {
    #orgDiv {
        width: 90%;
        height: auto;
        padding-bottom:20px;
		margin-bottom:30px;
    }
		#orgDiv p:nth-child(3) {

    height: 260px;
    font-size: 16px;
    float: left;
}
#orgDiv p:nth-child(3) {
    height: 270px;
    font-size: 16px;
    float: left;
}
#orgDiv {
	height:580px;	
}
}


@media only screen and (max-width:479px) {
    #orgDiv {
        width: 90%;
        height: auto;
        padding-bottom:20px;
    }
}
