    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img id="headerImg"  src="images/newLogo.gif" alt="idaal logo">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                  <a href="links.html">Links</a>
                    </li>
                    <li>
                        <a href="http://search.ebscohost.com/login.aspx?direct=true&custid=ns055920&db=edspub&type=44&plp=1&lang=en">Journals</a>
                    </li>
                <li>
                        <a href="about.html">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row" >
            <div class="col-md-6" style="padding-top:40px;">
                <img class="img-responsive img-rounded" src="images/headerpicIpad.jpg" alt="Header Image" width="100%">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-3" style="padding-top:17px;">
                <h1>Idaal.com</h1>
                <p class="mainFont">idaal.com is a consortium of Intellectual Disability Libraries established to provide easy and comprehensive access to up-to-date
                    information in this and related fields thereby supporting research, best practice and education in our services.</p>
              
            </div>
            <!-- /.col-md-4 -->
            
            
            
            <div class="col-md-3" id="mycol6" style="padding-top:20px;">
            
             <h2 id="searchControl">Search</h2>

                <p id="showHide">
                    <a class="btn btn-danger" href="https://auth.athensams.net/oahf?SAMLRequest=fZFdT4MwFIb%2FCun9KBS2sGaQ4HbhkqlE0AtvTKlHaQIt9hQ%2F%2Fr0wNJs3uz5vn%2FOctxsUXdvzfHCNvof3AdB5X12rkR8HKRms5kagQq5FB8id5GV%2Bc%2BDMD3hvjTPStMTLEcE6ZfTWaBw6sCXYDyXh4f6Qksa5Hjml2Ki6Ni24xocapWkMOl%2BajpanAaKhE5%2FR4q6siLcbhZQWE%2FoEEqOtL1wDepREX4OjRjSvxNvvUvIcRLGMY7GKEiGSaJkIuWYrEHHCwtUyZskYQxxgr9EJ7VLCgnC5CNYLxqqQ8YjxMHwiXvF725XSL0q%2FXS6inkPIr6uqWMzmj2DxaD0GSLaZ6uTHxfas4MtY8dcqyabTL1S4oWf8eVnPb0fgfleYVslvL29b87m1IBykJCQ0m5%2F8%2F%2FrsBw%3D%3D&RelayState=https%3A%2F%2Fshibboleth.ebscohost.com%2FShibAgent.aspx%3Fshib_returl%3Dhttp%253a%252f%252fsearch.ebscohost.com%252flogin.aspx%253fauthtype%253dip%25252cathens%2526profile%253dehost%26IdpId%3Dhttps%3A%2F%2Fidp.eduserv.org.uk%2Fopenathens">Articles<span id="goRight" class="glyphicon glyphicon-book" aria-hidden="true"></span></a><br>
                    <a class="btn btn-primary" href="http://search.ebscohost.com/login.aspx?direct=true&custid=ns055920&db=edspub&type=44&plp=1&lang=en">Online Journals<span id="goRight" class="glyphicon glyphicon-book" aria-hidden="true"></span></a><br>
                    <a class="btn btn-warning" href="https://www.medicinescomplete.com/mc/bnf/current/login.htm?uri=http%3A%2F%2Fwww.medicinescomplete.com%2Fmc%2Fbnf%2Fcurrent%2F">BNF Online <span id="goRight" class="glyphicon glyphicon-book" aria-hidden="true"></span></a><br>
                </p>
            
            </div>
            
        </div>
        <!-- /.row -->
